DJANGO_SECRET_KEY=txdfhe7yqh^8j33+n-0_^auikl4uy!qxe-aai93n#s%fx^1gen
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,gifting-82j5.onrender.com
CORS_ALLOWED_ORIGINS=https://giftingsam.netlify.app,http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=https://giftingsam.netlify.app,http://localhost:5173,http://127.0.0.1:5173
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
